body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #6f4e37;
}

#coffeeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.coffee-card {
    width: 320px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.coffee-card:hover {
    transform: translateY(-5px);
}

.coffee-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.coffee-card h2 {
    color: #6f4e37;
    margin: 10px 0;
}

button {
    background: #6f4e37;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #5a3d2b;
}
.top-coffee {
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    background: gold;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.reset-btn {
    background: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.reset-btn:hover {
    background: darkred;
}